@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');

*{font-family: 'Nunito Sans', sans-serif;}

body{
    margin: 0 auto;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}