$themes: (
  light: (
    main-color-light: hsl(0, 0%, 98%),
    main-color-dark: hsl(0, 0%, 52%),
    text-color-1: hsl(200, 15%, 8%),
  ),
  dark: (
    main-color-light: hsl(209, 23%, 22%),
    main-color-dark: hsl(207, 26%, 17%),
    text-color-1: hsl(0, 0%, 100%),
  ),
);